<p>New toy was added to the database:</p>
<p>newtoy.id: <%= newToy.id%><br>
    newtoy.name: <%= newToy.name%><br>
    newtoy.price: <%= newToy.price%> </p>

<a href="/public/createToy.html">Add another toy</a><br>
<a href="/public/main.html">Go to main page</a>